* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  font-size: 100%;
  &::before {
    margin: 0; 
  }
  &::after {
    margin: 0; 
  }  
}

body {
  font-family: $primaryFont;
  color: $blue-gray-900;
  line-height: 1.4;
  font-size: 100%;
  background-color: transparent;
}

#main-wrapper {
  overflow: hidden !important; }

.ie-support {
  position: relative;
  top: 50vh;
  transform: translateY(-50%); 
}
.ie-support p {
  text-align: center;
  font-size: 22px; 
}

iframe {border: none;}

ul li {
  list-style-type: none;
}
a:hover {
  text-decoration: none; 
}
p { letter-spacing: 0.3px; }

p, h1, h2, h3, h4, h5, h6 { 
  margin: 0;   
  &::before {
    margin: 0; 
  }
  &::after {
    margin: 0; 
  }
}

h1, h2, h3, h4, h5, h6 {  }

::-moz-selection {
  /* background-color: $bgSelectionColor;
  color: $primaryColor;  */
}
::selection {
  /* background-color: $bgSelectionColor;
  color: $primaryColor;  */
}
button:focus, input:focus {
  /* outline: none;  */
}
#mainWrapper {
  transform: translateX(0);
  transition: all .4s ease-out;

  &.is--active {
    transform: translateX(-250px);
    transition: all .4s ease-out;
    @mixin atSmallMedium {
      transform: translateX(0);
    }
  }
}
.wrapper {
  position: relative;
  z-index: 1;  
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-section {
  flex: 1;
}
.container {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  max-width: 33.125rem; /* 530px */

  @mixin atSmall {
    max-width: 48rem; /* 768px */
  }
  @mixin atSmallMedium {
    max-width: 60rem; /* 960px */
  }
  @mixin atMedium {
    max-width: 75rem; /* 1200px */
  }
  @mixin atLarge {
    max-width: 87.5rem; /* 1400px; */
  }  
}