/* Grid */

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;

}

@for $box from 1 to 12 {
    .box-$(box) {       
        flex-basis: calc(100% / (12 / $box));
    }
    @if ($box < 12) {
        @for $gap from 5 to 20 {
            $plusGap: calc($gap / 16)rem;
            $halfGap: calc($plusGap/2);
            .gap-$(gap) {
                margin-left: calc($halfGap * -1);
                margin-right: calc($halfGap * -1);
            }
            .gap-$(gap) > .box-$(box) {
                padding-left: $halfGap;
                padding-right: $halfGap;                 
                flex-basis: calc(100% / (12 / $box));                
            }
        }
        @for $gap from 25 to 50 by 5 {
            $plusGap: calc($gap / 16)rem;
            $halfGap: calc($plusGap/2);

            .gap-$(gap) {
                margin-left: calc($halfGap * -1);
                margin-right: calc($halfGap * -1);
            }
            .gap-$(gap) > .box-$(box) {
                padding-left: $halfGap;
                padding-right: $halfGap;                 
                flex-basis: calc(100% / (12 / $box));                
            }
        }
    }
}
@mixin atSmallest {
    @for $box from 1 to 12 {
        .box-xs-$(box) {            
            flex-basis: calc(100% / (12 / $box));              
        }
        @if ($box < 12) {
            @for $gap from 5 to 20 {
                $plusGap: calc($gap / 16)rem;
                $halfGap: calc($plusGap/2);

                .gap-$(gap) {
                    margin-left: calc($halfGap * -1);
                    margin-right: calc($halfGap * -1);
                }
                .gap-$(gap) > .box-xs-$(box),
                .gap-xs-$(gap) > .box-xs-$(box) {
                    padding-left: $halfGap;
                    padding-right: $halfGap;                 
                    flex-basis: calc(100% / (12 / $box));                
                }
            }
            @for $gap from 25 to 50 by 5 {
                $plusGap: calc($gap / 16)rem;
                $halfGap: calc($plusGap/2);

                .gap-$(gap) {
                    margin-left: calc($halfGap * -1);
                    margin-right: calc($halfGap * -1);
                }
                .gap-$(gap) > .box-xs-$(box),
                .gap-xs-$(gap) > .box-xs-$(box) {
                    padding-left: $halfGap;
                    padding-right: $halfGap;                 
                    flex-basis: calc(100% / (12 / $box));                
                }
            }
        }
    }
}
@mixin atSmall {
    @for $box from 1 to 12 {
        .box-sm-$(box) {            
            flex-basis: calc(100% / (12 / $box));              
        }
        @if ($box < 12) {
            @for $gap from 5 to 20 {
                $plusGap: calc($gap / 16)rem;
                $halfGap: calc($plusGap/2);

                .gap-$(gap),
                .gap-sm-$(gap) {
                    margin-left: calc($halfGap * -1);
                    margin-right: calc($halfGap * -1);
                }
                .gap-$(gap) > .box-sm-$(box),
                .gap-sm-$(gap) > .box-sm-$(box) {
                    padding-left: $halfGap;
                    padding-right: $halfGap;                 
                    flex-basis: calc(100% / (12 / $box));                
                }
            }
            @for $gap from 25 to 50 by 5 {
                $plusGap: calc($gap / 16)rem;
                $halfGap: calc($plusGap/2);

                .gap-$(gap),
                .gap-sm-$(gap) {
                    margin-left: calc($halfGap * -1);
                    margin-right: calc($halfGap * -1);
                }
                .gap-$(gap) > .box-sm-$(box),
                .gap-sm-$(gap) > .box-sm-$(box) {
                    padding-left: $halfGap;
                    padding-right: $halfGap;                 
                    flex-basis: calc(100% / (12 / $box));                
                }
            }
        }
    }
}
@mixin atSmallMedium {
    @for $box from 1 to 12 {
        .box-md-$(box) {
            flex-basis: calc(100% / (12 / $box));              
        }
        @if ($box < 12) {
            @for $gap from 5 to 20 {
                $plusGap: calc($gap / 16)rem;
                $halfGap: calc($plusGap/2);

                .gap-$(gap) {
                    margin-left: calc($halfGap * -1);
                    margin-right: calc($halfGap * -1);
                }
                .gap-$(gap) > .box-md-$(box) {
                    padding-left: $halfGap;
                    padding-right: $halfGap;                 
                    flex-basis: calc(100% / (12 / $box));                
                }
            }
            @for $gap from 25 to 50 by 5 {
                $plusGap: calc($gap / 16)rem;
                $halfGap: calc($plusGap/2);
                .gap-$(gap) {
                    margin-left: calc($halfGap * -1);
                    margin-right: calc($halfGap * -1);
                }
                .gap-$(gap) > .box-md-$(box) {
                    padding-left: $halfGap;
                    padding-right: $halfGap;                 
                    flex-basis: calc(100% / (12 / $box));                
                }
            }
        }
    }
}
@mixin atMedium {
    @for $box from 1 to 12 {
        .box-lg-$(box) {       
            flex-basis: calc(100% / (12 / $box));
        }
        @if ($box < 12) {
            @for $gap from 5 to 20 {
                $plusGap: calc($gap / 16)rem;
                $halfGap: calc($plusGap/2);

                .gap-$(gap) {
                    margin-left: calc($halfGap * -1);
                    margin-right: calc($halfGap * -1);
                }
                .gap-$(gap) > .box-lg-$(box) {
                    padding-left: $halfGap;
                    padding-right: $halfGap;                 
                    flex-basis: calc(100% / (12 / $box));                
                }
            }    
            @for $gap from 25 to 50 by 5 {
                $plusGap: calc($gap / 16)rem;
                $halfGap: calc($plusGap/2);
                .gap-$(gap) {
                    margin-left: calc($halfGap * -1);
                    margin-right: calc($halfGap * -1);
                }
                .gap-$(gap) > .box-lg-$(box) {
                    padding-left: $halfGap;
                    padding-right: $halfGap;                 
                    flex-basis: calc(100% / (12 / $box));                
                }
            }    
        }
    }
}
@mixin atLarge {
    @for $box from 1 to 12 {
        .box-xl-$(box) {       
            flex-basis: calc(100% / (12 / $box));
        }
        @if ($box < 12) {
            @for $gap from 5 to 20 {
                $plusGap: calc($gap / 16)rem;
                $halfGap: calc($plusGap/2);
                .gap-$(gap) {
                    margin-left: calc($halfGap * -1);
                    margin-right: calc($halfGap * -1);
                }
                .gap-$(gap) > .box-xl-$(box) {
                    padding-left: $halfGap;
                    padding-right: $halfGap;                 
                    flex-basis: calc(100% / (12 / $box));                
                }
            }    
            @for $gap from 25 to 50 by 5 {
                $plusGap: calc($gap / 16)rem;
                $halfGap: calc($plusGap/2);
                .gap-$(gap) {
                    margin-left: calc($halfGap * -1);
                    margin-right: calc($halfGap * -1);
                }
                .gap-$(gap) > .box-xl-$(box) {
                    padding-left: $halfGap;
                    padding-right: $halfGap;                 
                    flex-basis: calc(100% / (12 / $box));                
                }
            }    
        }
    }
}
/* Use this to test media queries */
.grid-label {

    @mixin atSmallest {
        .box-label {
            &::before{
            content: "box-xs";
            }
        }
    }

    @mixin atSmall {
        .box-label {
            &::before{
            content: "box-sm";
            }
        }
    }
    @mixin atSmallMedium {
        .box-label {
            &::before{
            content: "box-md";
            }
        }
    }
    @mixin atMedium {
        .box-label {
            &::before{
            content: "box-lg";
            }
        }
    }
    @mixin atLarge {
        .box-label {
             &::before{
            content: "box-xl";
            }
        }
    }


}
