/* For small tweeks on Mobile */

@define-mixin atSmallest {
  @media (max-width: 529px) {
    @mixin-content;
  }
}

@define-mixin atSmall {
  @media (min-width: 530px) {
    @mixin-content;
  }
}

@define-mixin atSmallMedium {
  @media (min-width: 767px) {
    @mixin-content;
  }
}

@define-mixin atMedium {
  @media (min-width: 960px) {
    @mixin-content;
  }
}

@define-mixin atLarge{
  @media (min-width: 1199px) {
    @mixin-content;
  }
}
/* 
@define-function rem($val) {
    @return ($val / 16 * 1rem);
} */

.debug {

  .template-finder {
    position: relative;

    &__name {
      position: absolute;
      right: 0;
      font-size: .65rem;
      color: $green-50;
      padding: .5rem;
      border-radius: 3px;
      box-shadow: 1px 1px 3px color($black a(10%));
      z-index: 100;
      background-color: $light-green-100;
    }
  }
}