/* Borders */
.border {
  @for $border from 1 to 20 {
    &-$(border) {
      border: $(border)px solid;
    }
    &-t, &-tb, &-tl {
      &-$(border) {
        border-top-left: $(border)px solid;
      }
    }
    &-t, &-tb, &-tr {
      &-$(border) {
        border-top-right: $(border)px solid;
      }
    }
    &-b, &-tb, &-bl {
      &-$(border) {
        border-bottom-left: $(border)px solid;
      }
    }
    &-b, &-tb, &-br {
      &-$(border) {
        border-bottom-right: $(border)px solid;
      }
    } 
  }
}
/* Rounded Edges (100% or from 1-20 by 1s and 25-50 by 5s)*/
.corner {
  &-round {
    border-radius: 100%;
    &-t, &-tb, &-tl {
        border-top-left-radius: 100%;
    }
    &-t, &-tb, &-tr {
        border-top-right-radius: 100%;
    }
    &-b, &-tb, &-bl {
        border-bottom-left-radius: 100%;
    }
    &-b, &-tb, &-br {
        border-bottom-right-radius: 100%;
    }    
  }
  @for $radius from 1 to 20 {
    &-$(radius) {
      border-radius: $(radius)px;
    }    
    &-t, &-tb, &-tl {
      &-$(radius) {
        border-top-left-radius: $(radius)px;
      }
    }
    &-t, &-tb, &-tr {
      &-$(radius) {
        border-top-right-radius: $(radius)px;
      }
    }
    &-b, &-tb, &-bl {
      &-$(radius) {
        border-bottom-left-radius: $(radius)px;
      }
    }
    &-b, &-tb, &-br {
      &-$(radius) {
        border-bottom-right-radius: $(radius)px;
      }
    }
  }
  @for $radius from 25 to 50 by 5 {
    &-$(radius) {
      border-radius: $(radius)px;
    }    
    &-t, &-tb, &-tl {
      &-$(radius) {
        border-top-left-radius: $(radius)px;
      }
    }
    &-t, &-tb, &-tr {
      &-$(radius) {
        border-top-right-radius: $(radius)px;
      }
    }
    &-b, &-tb, &-bl {
      &-$(radius) {
        border-bottom-left-radius: $(radius)px;
      }
    }
    &-b, &-tb, &-br {
      &-$(radius) {
        border-bottom-right-radius: $(radius)px;
      }
    }
  }
}