/* Colors */

.bg {
  &-white {
    background-color: $white;
  }
  &-black {
    background-color: $white;
  }
  &-red {
    background-color: $red-50;
    &-A1 {background-color: $red-A1}
    &-A2 {background-color: $red-A2}
    &-A4 {background-color: $red-A4}
    &-A7 {background-color: $red-A7}   
    @for $c from 100 to 900 by 100 { 
      &-$(c) {
        background-color: $red-$(c);
      }
    }      
  }

  &-pink {
    background-color: $pink-50;
    &-A1 {background-color: $pink-A1}
    &-A2 {background-color: $pink-A2}
    &-A4 {background-color: $pink-A4}
    &-A7 {background-color: $pink-A7}      
    @for $c from 100 to 900 by 100 { 
      &-$(c) {
        background-color: $pink-$(c);
      }
    }       
  }

  &-purple {
    background-color: $purple-50;
    &-A1 {background-color: $purple-A1}
    &-A2 {background-color: $purple-A2}
    &-A4 {background-color: $purple-A4}
    &-A7 {background-color: $purple-A7}   
    @for $c from 100 to 900 by 100 { 
      &-$(c) {
        background-color: $purple-$(c);
      }
    }        
  }

  &-deep-purple {
    background-color: $deep-purple-50;
    &-A1 {background-color: $deep-purple-A1}
    &-A2 {background-color: $deep-purple-A2}
    &-A4 {background-color: $deep-purple-A4}
    &-A7 {background-color: $deep-purple-A7}    
    @for $c from 100 to 900 by 100 { 
      &-$(c) {
        background-color: $deep-purple-$(c);
      }
    }        
  }

  &-indigo {
    background-color: $indigo-50;
    &-A1 {background-color: $indigo-A1}
    &-A2 {background-color: $indigo-A2}
    &-A4 {background-color: $indigo-A4}
    &-A7 {background-color: $indigo-A7}    
    @for $c from 100 to 900 by 100 { 
      &-$(c) {
        background-color: $indigo-$(c);
      }
    }        
  }

  &-blue {
    background-color: $blue-50;
    &-A1 {background-color: $blue-A1}
    &-A2 {background-color: $blue-A2}
    &-A4 {background-color: $blue-A4}
    &-A7 {background-color: $blue-A7}     
    @for $c from 100 to 900 by 100 { 
      &-$(c) {
        background-color: $blue-$(c);
      }
    }       
  }

  &-light-blue {
    background-color: $light-blue-50;
    &-A1 {background-color: $light-blue-A1}
    &-A2 {background-color: $light-blue-A2}
    &-A4 {background-color: $light-blue-A4}
    &-A7 {background-color: $light-blue-A7}      
    @for $c from 100 to 900 by 100 { 
      &-$(c) {
        background-color: $light-blue-$(c);
      }
    }       
  }

  &-cyan {
    background-color: $cyan-50;
    &-A1 {background-color: $cyan-A1}
    &-A2 {background-color: $cyan-A2}
    &-A4 {background-color: $cyan-A4}
    &-A7 {background-color: $cyan-A7}    
    @for $c from 100 to 900 by 100 { 
      &-$(c) {
        background-color: $cyan-$(c);
      }
    }        
  }

  &-teal {
    background-color: $teal-50;
    &-A1 {background-color: $teal-A1}
    &-A2 {background-color: $teal-A2}
    &-A4 {background-color: $teal-A4}
    &-A7 {background-color: $teal-A7}   
    @for $c from 100 to 900 by 100 { 
      &-$(c) {
        background-color: $teal-$(c);
      }
    }        
  }

  &-green {
    background-color: $green-50;
    &-A1 {background-color: $green-A1}
    &-A2 {background-color: $green-A2}
    &-A4 {background-color: $green-A4}
    &-A7 {background-color: $green-A7}     
    @for $c from 100 to 900 by 100 { 
      &-$(c) {
        background-color: $green-$(c);
      }
    }       
  }

  &-light-green {
    background-color: $light-green-50;
    &-A1 {background-color: $light-green-A1}
    &-A2 {background-color: $light-green-A2}
    &-A4 {background-color: $light-green-A4}
    &-A7 {background-color: $light-green-A7}   
    @for $c from 100 to 900 by 100 { 
      &-$(c) {
        background-color: $light-green-$(c);
      }
      }      
  }

  &-lime {
    background-color: $lime-50;
    &-A1 {background-color: $lime-A1}
    &-A2 {background-color: $lime-A2}
    &-A4 {background-color: $lime-A4}
    &-A7 {background-color: $lime-A7}     
    @for $c from 100 to 900 by 100 { 
      &-$(c) {
        background-color: $lime-$(c);
      }
    }       
  }

  &-yellow {
    background-color: $yellow-50;
    &-A1 {background-color: $yellow-A1}
    &-A2 {background-color: $yellow-A2}
    &-A4 {background-color: $yellow-A4}
    &-A7 {background-color: $yellow-A7}       
    @for $c from 100 to 900 by 100 { 
      &-$(c) {
        background-color: $yellow-$(c);
      }
    }    
  }

  &-amber {
    background-color: $amber-50;
    &-A1 {background-color: $amber-A1}
    &-A2 {background-color: $amber-A2}
    &-A4 {background-color: $amber-A4}
    &-A7 {background-color: $amber-A7}  
    @for $c from 100 to 900 by 100 { 
      &-$(c) {
        background-color: $amber-$(c);
      }
    }       
  }

  &-orange {
    background-color: $orange-50;
    &-A1 {background-color: $orange-A1}
    &-A2 {background-color: $orange-A2}
    &-A4 {background-color: $orange-A4}
    &-A7 {background-color: $orange-A7}  
    @for $c from 100 to 900 by 100 { 
      &-$(c) {
        background-color: $orange-$(c);
      }
    }         
  }

  &-deep-orange {
    background-color: $deep-orange-50;
    &-A1 {background-color: $deep-orange-A1}
    &-A2 {background-color: $deep-orange-A2}
    &-A4 {background-color: $deep-orange-A4}
    &-A7 {background-color: $deep-orange-A7}     
    @for $c from 100 to 900 by 100 { 
      &-$(c) {
        background-color: $deep-orange-$(c);
      }
    }        
  }


  &-brown {
    background-color: $brown-50;
      @for $c from 100 to 900 by 100 { 
        &-$(c) {
          background-color: $brown-$(c);
        }
      }   
  }

  &-gray {
    background-color: $gray-50;
      @for $c from 100 to 900 by 100 { 
        &-$(c) {
          background-color: $gray-$(c);
        }
      }   
  }

  &-blue-gray {
    background-color: $blue-gray-50;
      @for $c from 100 to 900 by 100 { 
        &-$(c) {
          background-color: $blue-gray-$(c);
        }
      }   
  }

}
.c {
&-white {
    color: $white;
  }
  &-black {
    color: $white;
  }
  &-red {
    color: $red-50;
    &-A1 {color: $red-A1}
    &-A2 {color: $red-A2}
    &-A4 {color: $red-A4}
    &-A7 {color: $red-A7}       
    @for $c from 100 to 900 by 100 { 
      &-$(c) {
        color: $red-$(c);
      }
    }      
  }

  &-pink {
    color: $pink-50;
    &-A1 {color: $pink-A1}
    &-A2 {color: $pink-A2}
    &-A4 {color: $pink-A4}
    &-A7 {color: $pink-A7}      
    @for $c from 100 to 900 by 100 { 
      &-$(c) {
        color: $pink-$(c);
      }
    }       
  }

  &-purple {
    color: $purple-50;
    &-A1 {color: $purple-A1}
    &-A2 {color: $purple-A2}
    &-A4 {color: $purple-A4}
    &-A7 {color: $purple-A7}   
    @for $c from 100 to 900 by 100 { 
      &-$(c) {
        color: $purple-$(c);
      }
    }        
  }

  &-deep-purple {
    color: $deep-purple-50;
    &-A1 {color: $deep-purple-A1}
    &-A2 {color: $deep-purple-A2}
    &-A4 {color: $deep-purple-A4}
    &-A7 {color: $deep-purple-A7}    
    @for $c from 100 to 900 by 100 { 
      &-$(c) {
        color: $deep-purple-$(c);
      }
    }        
  }

  &-indigo {
    color: $indigo-50;
    &-A1 {color: $indigo-A1}
    &-A2 {color: $indigo-A2}
    &-A4 {color: $indigo-A4}
    &-A7 {color: $indigo-A7}    
    @for $c from 100 to 900 by 100 { 
      &-$(c) {
        color: $indigo-$(c);
      }
    }        
  }

  &-blue {
    color: $blue-50;
    &-A1 {color: $blue-A1}
    &-A2 {color: $blue-A2}
    &-A4 {color: $blue-A4}
    &-A7 {color: $blue-A7}      
    @for $c from 100 to 900 by 100 { 
      &-$(c) {
        color: $blue-$(c);
      }
    }       
  }

  &-light-blue {
    color: $light-blue-50;
    &-A1 {color: $light-blue-A1}
    &-A2 {color: $light-blue-A2}
    &-A4 {color: $light-blue-A4}
    &-A7 {color: $light-blue-A7}     
    @for $c from 100 to 900 by 100 { 
      &-$(c) {
        color: $light-blue-$(c);
      }
    }       
  }

  &-cyan {
    color: $cyan-50;
    &-A1 {color: $cyan-A1}
    &-A2 {color: $cyan-A2}
    &-A4 {color: $cyan-A4}
    &-A7 {color: $cyan-A7}     
    @for $c from 100 to 900 by 100 { 
      &-$(c) {
        color: $cyan-$(c);
      }
    }        
  }

  &-teal {
    color: $teal-50;
    &-A1 {color: $teal-A1}
    &-A2 {color: $teal-A2}
    &-A4 {color: $teal-A4}
    &-A7 {color: $teal-A7}    
    @for $c from 100 to 900 by 100 { 
      &-$(c) {
        color: $teal-$(c);
      }
    }        
  }

  &-green {
    color: $green-50;
    &-A1 {color: $green-A1}
    &-A2 {color: $green-A2}
    &-A4 {color: $green-A4}
    &-A7 {color: $green-A7}     
    @for $c from 100 to 900 by 100 { 
      &-$(c) {
        color: $green-$(c);
      }
    }       
  }

  &-light-green {
    color: $light-green-50;
    &-A1 {color: $light-green-A1}
    &-A2 {color: $light-green-A2}
    &-A4 {color: $light-green-A4}
    &-A7 {color: $light-green-A7}   
    @for $c from 100 to 900 by 100 { 
      &-$(c) {
        color: $light-green-$(c);
      }
      }      
  }

  &-lime {
    color: $lime-50;
    &-A1 {color: $lime-A1}
    &-A2 {color: $lime-A2}
    &-A4 {color: $lime-A4}
    &-A7 {color: $lime-A7}    
    @for $c from 100 to 900 by 100 { 
      &-$(c) {
        color: $lime-$(c);
      }
    }       
  }

  &-yellow {
    color: $yellow-50;
    &-A1 {color: $yellow-A1}
    &-A2 {color: $yellow-A2}
    &-A4 {color: $yellow-A4}
    &-A7 {color: $yellow-A7}       
    @for $c from 100 to 900 by 100 { 
      &-$(c) {
        color: $yellow-$(c);
      }
    }    
  }

  &-amber {
    color: $amber-50;
    &-A1 {color: $amber-A1}
    &-A2 {color: $amber-A2}
    &-A4 {color: $amber-A4}
    &-A7 {color: $amber-A7}      
    @for $c from 100 to 900 by 100 { 
      &-$(c) {
        color: $amber-$(c);
      }
    }       
  }

  &-orange {
    color: $orange-50;
    &-A1 {color: $orange-A1}
    &-A2 {color: $orange-A2}
    &-A4 {color: $orange-A4}
    &-A7 {color: $orange-A7}    
    @for $c from 100 to 900 by 100 { 
      &-$(c) {
        color: $orange-$(c);
      }
    }         
  }

  &-deep-orange {
    color: $deep-orange-50;
    &-A1 {color: $deep-orange-A1}
    &-A2 {color: $deep-orange-A2}
    &-A4 {color: $deep-orange-A4}
    &-A7 {color: $deep-orange-A7}     
    @for $c from 100 to 900 by 100 { 
      &-$(c) {
        color: $deep-orange-$(c);
      }
    }        
  }

  &-brown {
    color: $brown-50;
      @for $c from 100 to 900 by 100 { 
        &-$(c) {
          color: $brown-$(c);
        }
      }   
  }

  &-gray {
    color: $gray-50;
      @for $c from 100 to 900 by 100 { 
        &-$(c) {
          color: $gray-$(c);
        }
      }   
  }

  &-blue-gray {
    color: $blue-gray-50;
      @for $c from 100 to 900 by 100 { 
        &-$(c) {
          color: $blue-gray-$(c);
        }
      }   
  }
}
.bc {
  &-white {
    border-color: $white;
  }
  &-black {
    border-color: $white;
  }
  &-red {
   border-color: $red-50;
    &-A1 {border-color: $red-A1}
    &-A2 {border-color: $red-A2}
    &-A4 {border-color: $red-A4}
    &-A7 {border-color: $red-A7}       
    @for $c from 100 to 900 by 100 { 
      &-$(c) {
        border-color: $red-$(c);
      }
    }      
  }

  &-pink {
    border-color: $pink-50;
    &-A1 {border-color: $pink-A1}
    &-A2 {border-color: $pink-A2}
    &-A4 {border-color: $pink-A4}
    &-A7 {border-color: $pink-A7}      
    @for $c from 100 to 900 by 100 { 
      &-$(c) {
        border-color: $pink-$(c);
      }
    }       
  }

  &-purple {
    border-color: $purple-50;
    &-A1 {border-color: $purple-A1}
    &-A2 {border-color: $purple-A2}
    &-A4 {border-color: $purple-A4}
    &-A7 {border-color: $purple-A7}     
    @for $c from 100 to 900 by 100 { 
      &-$(c) {
        border-color: $purple-$(c);
      }
    }        
  }

  &-deep-purple {
    border-color: $deep-purple-50;
    &-A1 {border-color: $deep-purple-A1}
    &-A2 {border-color: $deep-purple-A2}
    &-A4 {border-color: $deep-purple-A4}
    &-A7 {border-color: $deep-purple-A7}    
    @for $c from 100 to 900 by 100 { 
      &-$(c) {
        border-color: $deep-purple-$(c);
      }
    }        
  }

  &-indigo {
    border-color: $indigo-50;
    &-A1 {border-color: $indigo-A1}
    &-A2 {border-color: $indigo-A2}
    &-A4 {border-color: $indigo-A4}
    &-A7 {border-color: $indigo-A7}     
    @for $c from 100 to 900 by 100 { 
      &-$(c) {
        border-color: $indigo-$(c);
      }
    }        
  }

  &-blue {
    border-color: $blue-50;
    &-A1 {border-color: $blue-A1}
    &-A2 {border-color: $blue-A2}
    &-A4 {border-color: $blue-A4}
    &-A7 {border-color: $blue-A7}      
    @for $c from 100 to 900 by 100 { 
      &-$(c) {
        border-color: $blue-$(c);
      }
    }       
  }

  &-light-blue {
    border-color: $light-blue-50;
    &-A1 {border-color: $light-blue-A1}
    &-A2 {border-color: $light-blue-A2}
    &-A4 {border-color: $light-blue-A4}
    &-A7 {border-color: $light-blue-A7}      
    @for $c from 100 to 900 by 100 { 
      &-$(c) {
        border-color: $light-blue-$(c);
      }
    }       
  }

  &-cyan {
    border-color: $cyan-50;
    &-A1 {border-color: $cyan-A1}
    &-A2 {border-color: $cyan-A2}
    &-A4 {border-color: $cyan-A4}
    &-A7 {border-color: $cyan-A7}     
    @for $c from 100 to 900 by 100 { 
      &-$(c) {
        border-color: $cyan-$(c);
      }
    }        
  }

  &-teal {
    border-color: $teal-50;
    &-A1 {border-color: $teal-A1}
    &-A2 {border-color: $teal-A2}
    &-A4 {border-color: $teal-A4}
    &-A7 {border-color: $teal-A7}     
    @for $c from 100 to 900 by 100 { 
      &-$(c) {
        border-color: $teal-$(c);
      }
    }        
  }

  &-green {
    border-color: $green-50;
    &-A1 {border-color: $green-A1}
    &-A2 {border-color: $green-A2}
    &-A4 {border-color: $green-A4}
    &-A7 {border-color: $green-A7}    
    @for $c from 100 to 900 by 100 { 
      &-$(c) {
        border-color: $green-$(c);
      }
    }       
  }

  &-light-green {
    border-color: $light-green-50;
    &-A1 {border-color: $light-green-A1}
    &-A2 {border-color: $light-green-A2}
    &-A4 {border-color: $light-green-A4}
    &-A7 {border-color: $light-green-A7}      
    @for $c from 100 to 900 by 100 { 
      &-$(c) {
        border-color: $light-green-$(c);
      }
    }      
  }

  &-lime {
    border-color: $lime-50;
    &-A1 {border-color: $lime-A1}
    &-A2 {border-color: $lime-A2}
    &-A4 {border-color: $lime-A4}
    &-A7 {border-color: $lime-A7}       
    @for $c from 100 to 900 by 100 { 
      &-$(c) {
        border-color: $lime-$(c);
      }
    }       
  } 

  &-yellow {
    border-color: $yellow-50;
    &-A1 {border-color: $yellow-A1}
    &-A2 {border-color: $yellow-A2}
    &-A4 {border-color: $yellow-A4}
    &-A7 {border-color: $yellow-A7}       
    @for $c from 100 to 900 by 100 { 
      &-$(c) {
        border-color: $yellow-$(c);
      }
    }    
  }

  &-amber {
    border-color: $amber-50;
    &-A1 {border-color: $amber-A1}
    &-A2 {border-color: $amber-A2}
    &-A4 {border-color: $amber-A4}
    &-A7 {border-color: $amber-A7}     
    @for $c from 100 to 900 by 100 { 
      &-$(c) {
        border-color: $amber-$(c);
      }
    }       
  }

  &-orange {
    border-color: $orange-50;
    &-A1 {border-color: $orange-A1}
    &-A2 {border-color: $orange-A2}
    &-A4 {border-color: $orange-A4}
    &-A7 {border-color: $orange-A7}    
    @for $c from 100 to 900 by 100 { 
      &-$(c) {
        border-color: $orange-$(c);
      }
    }         
  }

  &-deep-orange {
    border-color: $deep-orange-50;
    &-A1 {border-color: $deep-orange-A1}
    &-A2 {border-color: $deep-orange-A2}
    &-A4 {border-color: $deep-orange-A4}
    &-A7 {border-color: $deep-orange-A7}     
    @for $c from 100 to 900 by 100 { 
      &-$(c) {
        border-color: $deep-orange-$(c);
      }
    }        
  }

  &-brown {
    border-color: $brown-50;
      @for $c from 100 to 900 by 100 { 
        &-$(c) {
          border-color: $brown-$(c);
        }
      }   
  }

  &-gray {
    border-color: $gray-50;
      @for $c from 100 to 900 by 100 { 
        &-$(c) {
          border-color: $gray-$(c);
        }
      }   
  }

  &-blue-gray {
    border-color: $blue-gray-50;
      @for $c from 100 to 900 by 100 { 
        &-$(c) {
          border-color: $blue-gray-$(c);
        }
      }   
  }

}