.flex {
    display: flex;

    &-reset {
        flex: none;
    }
    &.justify {
        &-start {
            justify-content: flex-start;
        }
        &-end {
            justify-content: flex-end;
        }
        &-center {
            justify-content: center;
        }
        &-stretch {
            justify-content: stretch;
        }
        &-between {
            justify-content: space-between;
        }
        &-around {
            justify-content: space-around;
        }
        &-evenly {
            justify-content: space-evenly;
        }
    }
    &.direction {
        &-column {
            flex-direction: column;
        }
        &-row {
            flex-direction: row;
        }
        &-column-reverse {
            flex-direction: column-reverse;
        }
        &-row-reverse {
            flex-direction: row-reverse;
        }
    }
    &.content {
        &-center {
            align-content: center;
        }
        &-start {
            align-content: flex-start;
        }
        &-end {
            align-content: flex-end;
        }
        &-between {
            justify-content: space-between;
        }
        &-around {
            justify-content: space-around;
        }        
    }
    &.items {
        &-stretch {
            align-items: stretch;
        }
        &-center {
            align-items: center;
        }
        &-start {
            align-items: flex-start;
        }
        &-end {
            align-items: flex-end;
        }
    }  
    & > .self {
        &-stretch {
            align-self: stretch;
        }
        &-center {
            align-self: center;
        }
        &-start {
            align-self: flex-start;
        }
        &-end {
            align-self: flex-end;
        }
    }  
    &.wrap {
        flex-wrap: wrap;

        &-reverse {
            flex-wrap: wrap-reverse;
        }        
    }        
    & > .unwrap {
        flex-wrap: nowrap;            
    }
    & > .order {
        @for $i from 0 to 12 {
            &-$(i) {
                order: $i;
            }
        }
        @mixin atSmall {
            @for $i from 0 to 12 {
                &-sm-$(i) {
                    order: $i;
                }
            }            
        }
        @mixin atSmallMedium {
            @for $i from 0 to 12 {
                &-md-$(i) {
                    order: $i;
                }
            }            
        }
        @mixin atMedium {
            @for $i from 0 to 12 {
                &-lg-$(i) {
                    order: $i;
                }
            }            
        }
    }    
}

