/* Grid */
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;

    @mixin atSmall {
        flex-direction: row;
    }
    @for $box from 1 to 12 {
        @for $gap from 1 to 20 {
            $plusGap: calc($gap / 16)rem;
            $halfGap: calc($plusGap/2);
            &.gap-$(gap) {
                margin-left: calc($halfGap);
                margin-right: calc($halfGap);
                /* flex-basis: calc( (100% / (12 / $box)) - ($plusGap/2) ); */
            }
        }
        @for $gap from 25 to 50 by 5 {
            $plusGap: calc($gap / 16)rem;
            &.gap-$(gap) {
                margin-left: calc($halfGap * -1);
                margin-right: calc($halfGap * -1);
            }
        }
    }
}

/* Loop from $grid to $gridMax */
@for $box from 1 to 12 {
    .box-$(box) {       
        flex-basis: calc(100% / (12 / $box));
        align-self: center;
    }
    @for $gap from 1 to 20 {
        $plusGap: calc($gap / 16)rem;
        $halfGap: calc($plusGap/2);

        .gap-$(gap) > .box-$(box) {
            margin-right: $halfGap;
            margin-left: $halfGap;        
            flex-basis: calc( (100% / (12 / $box)) - ($plusGap) );
        }
    }
    @for $gap from 25 to 50 by 5 {
        $plusGap: calc($gap / 16)rem;
        $halfGap: calc($plusGap/2);

        .gap-$(gap) > .box-$(box) {
            margin-right: $halfGap;
            margin-left: $halfGap;        
            flex-basis: calc( (100% / (12 / $box)) - ($plusGap) );
        }
    }
}
@mixin atSmall {
    @for $box from 1 to 12 {
        .box-sm-$(box) {            
            flex-basis: calc(100% / (12 / $box));
            align-self: center;              
        }
        @for $gap from 1 to 20 {
            $plusGap: calc($gap / 16)rem;
            $halfGap: calc($plusGap/2);

            .gap-$(gap) > .box-sm-$(box) {
                margin-right: $halfGap;
                margin-left: $halfGap;        
                flex-basis: calc( (100% / (12 / $box)) - ($plusGap) );
            }
        }
        @for $gap from 25 to 50 by 5 {
        $plusGap: calc($gap / 16)rem;
        $halfGap: calc($plusGap/2);

        .gap-$(gap) > .box-sm-$(box) {
            margin-right: $halfGap;
            margin-left: $halfGap;        
            flex-basis: calc( (100% / (12 / $box)) - ($plusGap) );
        }
        }
    }
}
@mixin atSmallMedium {
    @for $box from 1 to 12 {
        .box-md-$(box) {
            flex-basis: calc(100% / (12 / $box));
            align-self: center;              
        }
        @for $gap from 1 to 20 {
            $plusGap: calc($gap / 16)rem;
            $halfGap: calc($plusGap/2);

            .gap-$(gap) > .box-md-$(box) {
                margin-right: $halfGap;
                margin-left: $halfGap;        
                flex-basis: calc( (100% / (12 / $box)) - ($plusGap) );
            }
        }
        @for $gap from 25 to 50 by 5 {
            $plusGap: calc($gap / 16)rem;
            $halfGap: calc($plusGap/2);

            .gap-$(gap) > .box-md-$(box) {
                margin-right: $halfGap;
                margin-left: $halfGap;        
                flex-basis: calc( (100% / (12 / $box)) - ($plusGap) );
            }
        }
    }
}
@mixin atMedium {
    @for $box from 1 to 12 {
        .box-lg-$(box) {       
            flex-basis: calc(100% / (12 / $box));
            align-self: center;
        }
        @for $gap from 1 to 20 {
            $plusGap: calc($gap / 16)rem;
            $halfGap: calc($plusGap/2);

            .gap-$(gap) > .box-lg-$(box) {
                margin-right: $halfGap;
                margin-left: $halfGap;        
                flex-basis: calc( (100% / (12 / $box)) - ($plusGap) );
            }
        }    
        @for $gap from 25 to 50 by 5 {
            $plusGap: calc($gap / 16)rem;
            $halfGap: calc($plusGap/2);

            .gap-$(gap) > .box-lg-$(box) {
                margin-right: $halfGap;
                margin-left: $halfGap;        
                flex-basis: calc( (100% / (12 / $box)) - ($plusGap) );
            }
        }    
    }
}
@mixin atLarge {
    @for $box from 1 to 12 {
        .box-xl-$(box) {       
            flex-basis: calc(100% / (12 / $box));
            align-self: center;
        }
        @for $gap from 1 to 20 {
            $plusGap: calc($gap / 16)rem;
            $halfGap: calc($plusGap/2);

            .gap-$(gap) > .box-xl-$(box) {
                margin-right: $halfGap;
                margin-left: $halfGap;        
                flex-basis: calc( (100% / (12 / $box)) - ($plusGap) );
            }
        }    
        @for $gap from 25 to 50 by 5 {
            $plusGap: calc($gap / 16)rem;
            $halfGap: calc($plusGap/2);

            .gap-$(gap) > .box-xl-$(box) {
                margin-right: $halfGap;
                margin-left: $halfGap;        
                flex-basis: calc( (100% / (12 / $box)) - ($plusGap) );
            }
        }    
    }
}