
ul.list, .list {
    margin-left: inherit;

    li { 
        margin-left: 1.125rem;
        padding-top: 0.25rem;
    }

    &.disc li, .disc {
        list-style-type: disc;
    }
    &.circle li, .circle {
        list-style-type: circle;
    }
    &.square li, .square {
        list-style-type: disc;
    }
    &.alpha-lower li, .alpha-lower {
        list-style-type: lower-alpha;
    }
    &.alpha-upper li, .alpha-upper {
        list-style-type: upper-alpha;
    }
    &.roman-lower li, .roman-lower {
        list-style-type: lower-roman;
    }
    &.roman-upper li, .roman-upper {
        list-style-type: upper-roman;
    }
}