/* Margin */

.m {
  @for $amount from 1 to 50 {
    $rem: calc($amount / 16);
    &-$(amount) {
      margin: $(rem)rem;
    }    
    &-t, &-tb, &-tl, &-tr {
      &-$(amount) {
        margin-top: $(rem)rem;
      }
    }
    &-b, &-tb, &-bl, &-br {
      &-$(amount) {
        margin-bottom: $(rem)rem;
      }
    }
    &-l, &-lr, &-tl, &-bl {
      &-$(amount) {
        margin-left: $(rem)rem;
      }
    }
    &-r, &-lr, &-tr, &-br {
      &-$(amount) {
        margin-right: $(rem)rem;
      }
    } 
  }    
}

/* Padding */

.p {
  @for $amount from 1 to 50 {
    $rem: calc($amount / 16);
    &-$(amount) {
      padding: $(rem)rem;
    }    
    &-t, &-tb, &-tl, &-tr {
      &-$(amount) {
        padding-top: $(rem)rem;
      }
    }
    &-b, &-tb, &-bl, &-br {
      &-$(amount) {
        padding-bottom: $(rem)rem;
      }
    }
    &-l, &-lr, &-tl, &-bl {
      &-$(amount) {
        padding-left: $(rem)rem;
      }
    }
    &-r, &-lr, &-tr, &-br {
      &-$(amount) {
        padding-right: $(rem)rem;
      }
    } 
  }    
}
