.t {
    /* Align */
    &-center {
        text-align: center;
    }
    &-justify {
        text-align: justify;
    }
    &-left {
        text-align: left;
    }
    &-right {
        text-align: right;
    }
    /* Transform */
    &-upper {
        text-transform: uppercase;
    }
    &-lower {
        text-transform: lowercase;
    }
    &-capitalize {
        text-transform: capitalize;
    }
    /* Underline */
    &-underline {
        text-decoration: underline;
    }
    &-nounderline {
        text-decoration: none;
    }

    /* Style */
    &-italic {
        font-style: italic;
    }

    /* Size */
    &-size {
        &-xs {
            font-size: 0.75rem /* 12px */
        }
        &-sm {
            font-size: 0.875rem /* 14px */
        }
        &-md {
            font-size: 1rem /* 16px */
        }
        &-lg {
            font-size: 1.125rem /* 18px */
        }
        &-xl {
            font-size: 1.5rem /* 24px */
        }
    }
}
.bold {
    @for $bold from 3 to 9 {
        &-$(bold) {
            font-weight: $(bold)00;
        }
    }
}
.font {
    &-sans {
        font-family: $primaryFont;
    }
    &-sans-alt {
        font-family: $primaryFont;
    }
    &-serif-alt {
        font-family: $secondaryFont;
    }
    &-serif {
        font-family: $secondaryFont;
    }
    &-cursive {
        font-family: $secondaryFont;
    }
}
.line-height {
    &-xs {
        line-height: 1.2;
    }
    &-sm {
        line-height: 1.4;
    }
    &-md {
        line-height: 1.7;
    }
    &-lg {
        line-height: 2;
    }
    &-xl {
        line-height: 2.2;
    }
}

.headline {
    &-xs {
        font-size: 1.875rem /* 30px */
    }
    &-sm {
        font-size: 2.25rem /* 36px */
    }
    &-md {
        font-size: 2.635rem /* 42px */
    }
    &-lg {
        font-size: 3.125rem /* 50px */
    }
    &-xl {
        font-size: 3.75rem /* 60px */
    }
}