button, .btn {
    opacity: .9;
    transition: all .3s ease-out;
    border-radius: 3px;
    text-decoration: none;
    border: none;

    &:hover {
        opacity: 1;
    }
    &:active {
        opacity: .9;
    }

    &--add-to-cart {
        padding: 1rem 2rem;
        background-color: $orange-500;
        color: $orange-50;
    }
    &--lg {
        padding: 1rem 2rem;
        box-shadow: 3px 3px 3px color($black a(20%)), -3px -3px 3px color($black a(20%));
    }
}

.button-group {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $gray-200;

    button, a.btn {
        display: flex;
        cursor: pointer;
        background-color: $gray-50;
        padding: .5rem;
        font-size: 0.875rem;
        font-weight: 500;
        margin: 6px 3px;

        &:hover {
            background-color: $white;            
        }
        &:active {
            background-color: $gray-300; 
        }
        &.active-button {
            background-color: $white;
        }        
    }
}
