.footer {
    &__copyright {
        padding: 20px;
        text-align: center;
        font-size: 0.875rem;
        color: $gray-400;
    }
}

.footer__nav {
    padding: 20px;
    border-bottom: 1px solid $gray-200; 
       
    ul {
        display: flex;
        justify-content: space-evenly;        
    }

    ul li {
        background-color: $red-50;
        display: flex;

    }
    a {
        background-color: $gray-50;
        padding: 10px;
        text-decoration: none;

        &:hover {
            
        }
        &:active {

        }
    }
}

