input, textarea {
    display: block;
    width: 100%;
    max-width: 100%;
    border: none;
    background-color: transparent;
    color: $gray-800;
    padding: 10px;
    font-size: 13px;
    border-radius: 2px;
    border-bottom: 1px solid transparent;
    transition: background-color 200ms, border-color 300ms, border-radius 100ms;
}

input:focus, textarea:focus {
    background-color: #fff;
}
::placeholder {
    color: $gray-800;
    font-weight: 500;
    opacity: 1;    
    transtion: all .3s ease-out; 
}
.is--focussed::placeholder {
    color: $gray-200;
} 
.success {
    background-color: $green-500;
    color: $green-100;

    &__check {
        transform: translateY(10%);
        position: relative;
        display: none;
        padding: 40px 0 80px 0;
        text-align: center;

        svg {
            color: $green-500;
            font-size: 3rem;
        }        
    }
}
.error {
    background-color: $red-500;
    color: $red-100;
}
form {
      
    &.light-style {
        input[type="text"], input[type="email"], textarea {
            background-color: $gray-100;
            border: 1px solid $gray-300;
            color: $gray-900;
            border-bottom: 3px solid $gray-300;

            &:focus {
                background-color: $blue-50;
                border: 1px solid $gray-400;
                border-bottom: 3px solid $gray-400;
            }
        }      
    } 
    &.dark-style {
        input[type="text"], input[type="email"], textarea {
            background-color: $gray-50;
            border: 1px solid $gray-300;
            color: $gray-900;
            border-bottom: 2px solid $gray-300;

            &:focus {
                background-color: $gray-100;
                border: 1px solid $gray-400;
                border-bottom: 2px solid $gray-400;
            }
        }      
    } 
    input[type="text"], input[type="email"], textarea {
        margin-bottom: 1rem;
        padding: 1rem;
        font-family: $primaryFont;
        font-size: 1rem;
        transition: all .3s ease-out;
        border-radius: 2px;

        &.invalid {
            border-color: $red-500;
        }            
        &.valid {
            border-color: $green-500;
        } 

        /* Dumb Placeholders */
        &::placeholder {
            color: $gray-500;
        }
        &:focus::placeholder {
            color: transparent;
        }                 
    }
    .submit {
        padding-top: 10px;
    }
    #submit {
        padding: 1rem 0;
        font-size: 1rem;
        font-weight: 800;
        text-transform: uppercase;
        display: block;
        border-radius: 3px;
        margin: 0 auto;
        cursor: pointer;
        opacity: 1;
        transition: all .3s ease-out;

        &:hover {
            opacity: .7;
        }
        &:active {
            opacity: .9;
        }
    }
}
