.header {

}
.header__nav--top {   
    padding: 0;
    background-color: $black;

    ul {
        display: flex; 
        justify-content: flex-end; 
    }
    ul li {
        display: flex;
        padding: 5px 20px 5px 0;

        a {
            color: $gray-50;
            &:hover {
                
            }
            &:active {

            }
        }
    }
    
}
.header__nav {
    position: relative;
    padding: 20px;
    border-bottom: 1px solid $gray-200; 

    
    .logo {
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 0.875rem;

        a {
            background-color: $red-700;
            padding: 20px;
            color: $red-200;
            text-decoration: none;

            &:hover {
                
            }
            &:active {

            }
        }
    }    
       
    ul {
        display: flex;
        position: fixed;
        top: 0;
        right: 0;
        transform: translateX(250px);
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        width: 250px;
        height: 100vh;
        background-color: $gray-900; 
        padding-top: 32px;  

        @mixin atSmallMedium {
            position: relative;
            transform: translateX(0);            
            flex-direction: row;
            justify-content: space-evenly;            
            align-items: center;
            width: auto;
            height: auto;
            padding-top: 0;
            background-color: transparent;
        }      
    }

    ul li {
        display: flex;
        .is--active & {
            width: 100%;
            @mixin atSmallMedium {
                width: auto;
            }
        }
        a {
            padding: 10px;
            color: $gray-900;
            text-decoration: none;
            transition: color .3s ease-out;

            .is--active & {
                width: 100%;
                padding: 10px 20px;
                color: $gray-300;
                text-decoration: none;
                transition: all .3s ease-out;

                &:hover {
                    color: $white; 
                    background-color: $gray-800;               
                }
                &:active {
                    color: $gray-50;
                    background-color: $gray-700;
                } 
                @mixin atSmallMedium {
                    color: $gray-900;

                    &:hover {
                        color: $gray-700;
                        background-color: transparent;                                 
                    }
                    &:active {
                        color: $gray-500;
                        background-color: transparent;                        
                    }   
                }    
            }

            &:hover {
                color: $gray-700;                
            }
            &:active {
                color: $gray-500;
            }
        }        
    }
}
/* 
https://jonsuh.com/hamburgers/#usage
https://github.com/jonsuh/hamburgers/blob/master/dist/hamburgers.css */
.hamburger {
    position: absolute;
    top: 35px;
    right: 20px;
    display: inline-block;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    transform: scale(.9);

    &:hover { opacity: 0.7; }

    &:active { 
        transform: scale(.6);
    }

    &__box {
        width: 40px;
        height: 24px;
        display: inline-block;
        position: relative; 
    }
    &__inner {
        display: block;
        top: 50%;
    }
    &__inner, 
    &__inner::before, 
    &__inner::after {
        width: 40px;
        height: 4px;
        background-color: $gray-900;
        border-radius: 4px;
        position: absolute;
        transition: all .3s ease-out;         
    }  
    &__inner::before, 
    &__inner::after {
        content: "";
        display: block; 
    }
    &__inner::before {
        top: -10px; 
    }
    &__inner::after {
        bottom: -10px; 
    }   
    &.is--active {} /* Default action */

    @mixin atSmallMedium {
        display: none;
    }
}
.hamburger--spin {

    &__inner {
        transition-duration: 0.22s;
        transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

        &::before {
            transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
        }
        &::after {
            transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }        
    }
    &.is--active {
        .hamburger__inner {
            transform: rotate(225deg);
            transition-delay: 0.12s;
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            
            &::before {
                top: 0;
                opacity: 0;
                transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
            }
            &::after {
                bottom: 0;
                transform: rotate(-90deg);
                transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
            }        
        }
    }
}
.hamburger--squeeze {

    &__inner {
        transition-duration: 0.075s;
        transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

        &::before {
            transition: top 0.075s 0.12s ease, opacity 0.075s ease;
        }
        &::after {
            transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }        
    }
    &.is--active {
        .hamburger__inner {
            transform: rotate(45deg);
            transition-delay: 0.12s;
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            
            &::before {
                top: 0;
                opacity: 0;
                transition: top 0.075s ease, opacity 0.075s 0.12s ease;
            }
            &::after {
                bottom: 0;
                transform: rotate(-90deg);
                transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
            }        
        }
    }
}
.hamburger--minus {

    &__inner {

        &::before {
            transition: bottom 0.08s 0s ease-out, top 0.08s 0s ease-out, opacity 0s linear;
        }
        &::after {
            transition: bottom 0.08s 0s ease-out, top 0.08s 0s ease-out, opacity 0s linear;
        }        
    }
    &.is--active {
        .hamburger__inner {

            &::before {
                top: 0;
                opacity: 0;
                transition: bottom 0.08s ease-out, top 0.08s ease-out, opacity 0s 0.08s linear;
            }
            &::after {
                bottom: 0;
                opacity: 0;
                transition: bottom 0.08s ease-out, top 0.08s ease-out, opacity 0s 0.08s linear;
            }        
        }
    }
}
.hamburger--arrow-alt-right {

    &__inner {

        &::before {
            transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
        }
        &::after {
            transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
        }        
    }
    &.is--active {
        .hamburger__inner {

            &::before {
                top: 0;
                transform: translate3d(8px, -10px, 0) rotate(45deg) scale(0.7, 1);
                transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
            }
            &::after {
                bottom: 0;
                transform: translate3d(8px, 10px, 0) rotate(-45deg) scale(0.7, 1);
                transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
            }        
        }
    }
}
