/* [27] Page loader */
.woocommerce .loader::before {
    height: 0;
    width: 0;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -.5em;
    margin-top: -.5em;
    content: '';
    -webkit-animation: spin 1s ease-in-out infinite;
    animation: spin 1s ease-in-out infinite;
    background: transparent;
    background-size: cover;
    line-height: 1;
    text-align: center;
    font-size: 2em;
    color: rgba(0,0,0,.75);
}
.loader {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: $white;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all .6s ease-out;
  z-index: 1000; 
  opacity: 1;
  visibility: visible;
  z-index: 2;
}
  .loader .loading-center {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .loader .loading-center-absolute {
    position: absolute;
    height: 88px;
    width: 88px; }
  .loader .object {
    width: 15px;
    height: 15px;
    background-color: $blue-500;
    margin-right: 20px;
    float: left;
    margin-bottom: 20px;
    border-radius: 0; }
  .loader .object:nth-child(3n+0) {
    margin-right: 0; }
  .loader .object_one {
    -webkit-animation: animate 1s -0.9s ease-in-out infinite;
    animation: animate 1s -0.9s ease-in-out infinite; }
  .loader .object_two {
    -webkit-animation: animate 1s -0.8s ease-in-out infinite;
    animation: animate 1s -0.8s ease-in-out infinite; }
  .loader .object_three {
    -webkit-animation: animate 1s -0.7s ease-in-out infinite;
    animation: animate 1s -0.7s ease-in-out infinite; }
  .loader .object_four {
    -webkit-animation: animate 1s -0.6s ease-in-out infinite;
    animation: animate 1s -0.6s ease-in-out infinite; }
  .loader .object_five {
    -webkit-animation: animate 1s -0.5s ease-in-out infinite;
    animation: animate 1s -0.5s ease-in-out infinite; }
  .loader .object_six {
    -webkit-animation: animate 1s -0.4s ease-in-out infinite;
    animation: animate 1s -0.4s ease-in-out infinite; }
  .loader .object_seven {
    -webkit-animation: animate 1s -0.3s ease-in-out infinite;
    animation: animate 1s -0.3s ease-in-out infinite; }
  .loader .object_eight {
    -webkit-animation: animate 1s -0.2s ease-in-out infinite;
    animation: animate 1s -0.2s ease-in-out infinite; }
  .loader .object_nine {
    -webkit-animation: animate 1s -0.1s ease-in-out infinite;
    animation: animate 1s -0.1s ease-in-out infinite; }


.loader__counter {
  color: $white;
}

.loading--is-hidden {
  transition: all .6s ease-out;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}

.loading--is-visible {
  transition: all 1s ease-out;  
  opacity: .6s;
  visibility: visible;
  z-index: 1;
}

@-webkit-keyframes animate {
  50% {
    -webkit-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3); }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }

@keyframes animate {
  50% {
    -webkit-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3); }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }