.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: all .3s ease-out;

    &--is-visible {
        opacity: 1;
        visibility: visible;
        z-index: 1;        
    }

    &__top {
        padding: 1.875rem 0;
    }

    &__dark {
        background: color($black a(90%));  
        .modal {
            background-color: $gray-50;
            header {
                border-bottom: 1px solid $gray-200;
            }
        }       
        .trigger__close {
          color: $gray-200;

          &:hover {
            color: $gray-600;              
          }            
          &:active {

          }            
        }         
    }
    &__light {
        background: linear-gradient(color($white a(98%)), color($white a(90%)));

        .modal {
            background-color: $white;
            box-shadow: 1px 1px 20px $gray-200, -1px -1px 20px $gray-200;
            border: 1px solid $gray-300;
        }
        .trigger__close {
          color: $gray-400;

          &:hover {
            color: $gray-700;
          }
          &:active {
            color: $gray-600;
          }
        } 
    }
    .trigger__close {
        z-index: 100;
        cursor: pointer;
        width: 30px;
        height: 30px;
        font-size: 1.5rem;
        transition: all .3s ease-out;

        position: absolute;
        top: 20px;
        right: 20px;
        text-align: center;

    &.success {
          color: $green-50;

          &:hover {
            color: $green-800;
          }
          &:active {
            color: $green-900;
          }        
    }

    }
}
.modal {
    padding: 10px 20px 15px 20px;
    border-radius: 3px;
    margin: 0 auto;    
    max-width: 300px;

    @mixin atSmall {
        max-width: 450px;
    }
    @mixin atSmallMedium {
        max-width: 750px;
    }

    header {
        display: flex;
        justify-content: flex-end;
        padding-bottom: 5px;
        margin-bottom: 15px;
        font-family: $secondaryFont;
        font-weight: 800;

        .trigger__close {
            align-self: flex-start;
            text-align: right;
            font-size: 1.5rem;
            cursor: pointer;
            transition: all .3s ease-out;
        }
    }
}
.no-scroll {
    overflow: hidden;
}
.spinner-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 45px;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    border: 0.5rem solid $blue-gray-100;
    border-top-color: $blue-gray-500;
    animation: spin .9s infinite linear;
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.coming-soon {
    position: relative;
    height: 100%;

    &__message {
        position: fixed;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -25%);
        color: $white;
        text-align: center;
    }
    h1 {
        font-size: 3rem;
        font-weight: 700;
        text-transform: uppercase;
    }
    h2 {
        font-size: 1.5rem;
        margin: 0 auto 20px 0;
    }
    h3 {

    }
    .btn {
        position: relative;
        top: 35px;
    }
    .com {
        background-color: $white;
        font-size: 0.75rem;
        color: $gray-600;
        font-weight: 600;
        padding: 5px; 
        border-radius: 3px;
        position: relative;
        top: -12px;
    }
}