#search-overlay__results {
    position: relative;
}
.search {

    .trigger__close {

    }
    &__icon {
        cursor: pointer;
        display: flex;
        display: none;
        align-self: center;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        position: relative;
        background-color: $gray-400;
        font-size: 1.125rem;
        border-radius: 50%;
        transform: rotate(0);
        transition: all .3s ease-out; 

        &:hover {
            background-color: $gray-700;  
            svg {
                color: $gray-50;
            }                 
        }
        &:active {
            transform: rotate(180deg);
        }

        svg {
            color: $gray-100;
            filter: drop-shadow(inset 1px 1px 0 $gray-400);
        }
    }
    &__term {
        position: relative;
        color: $gray-500;
        font-weight: 300;
        padding: 15px;
        border: 10px solid color($gray-400 l(75%));
        box-shadow: inset 1px 1px 0 color($gray-400 l(80%)), inset -1px -1px 0 color($gray-400 l(80%));
        transition: all .3s ease-in-out;

        &.is--focussed {
            border-color: color($primaryColor a(50%));
        }
    }
    &__results {

    }
    ::placeholder {
        color: $gray-400;
        font-weight: 500;
        opacity: 1;    
        transition: all .3s ease-out; 
    }
    .is--focussed::placeholder {
        color: $gray-200;
    }      
}
.search__results-div {
    .general-results {

    }
    h2 {
        font-size: 1.75rem;
    }
    .btn {
        background-color: $gray-400;
        color: $gray-50;
        padding: .25rem .5rem;
        display: inline-block;

        text-decoration: none;
        font-size: 0.75rem;
        border-radius: 3px;
    }
} 
