$seguraFont: 'Norican', cursive;
.sllc {
    .footer &__ad {
        text-align: right;
        font-size: 0.75rem;
        padding: 5px 10px 10px 10px;
        font-weight: 400;

        border-top: 1px solid color($gray-100 l(89%));
        background: linear-gradient($gray-100, $white);
        color: $gray-400;

        a {
            color: $gray-300;
            font-weight: 700;
            text-decoration: none;
            padding: 10px;
            border-radius: 3px;
            font-size: 500;
            transition: all .3s ease-out;

            &:hover {
                color: $gray-500;

                .llc {
                    background-color: $gray-500;                       
                }
            }
            &:active {

            }
            .brand {
                font-size: 1.5rem;
                font-weight: 300;
                font-family: $seguraFont;
            }
            .llc {
                position: relative;
                left: -2px;
                top: -2px;
                background-color: $gray-300;                     
                font-size: 12px;                
                font-weight: 700;
                font-size: 10px;                
                letter-spacing: 1px;
                padding: 0 3px;
                border-radius: 0 3px 3px 3px;           
                color: $white;    
                transition: all .3s ease-out;            
            }
        }
    }
}
