.shop {
    &__main {

    }
    &__content {

    }
    &__container {
        display: flex;
        flex-wrap: wrap;
    }
}

.product {

    
}

.product-single {

    &__attribute-container {

    }
    &__variations {

    }
}
.select__default {
    select {
        border-color: #f5f5f5;
        background: #f5f5f5;
        height: 45px;
        margin: 0;
        padding-right: 24px;
        line-height: 18px;
        color: $gray-700;      
    }
}
.quantity {
    input {
        background-color: $gray-100;
        border: 2px solid $gray-100;
        border-radius: 3px;
    }
}
.radio {
    &__buttons {
        display: flex;
        margin-bottom: 0.5rem;

        label {
            cursor: pointer;            
            color: $gray-700;
            padding: 0.5rem 0.5rem;
            background-color: $gray-100;
            margin-right: 3px;
            border-radius: 3px;
            transition: all .3s ease-out;

            &[checked], &[checked]:hover  {
                background-color: $gray-800;
                span {
                    color: $gray-50;
                }
            }

            &:hover {
                background-color: $gray-300;

                span {

                }
            }

            span {
                font-size: 0.875rem;
                font-weight: 600;
            }
        }

        input[type="radio"] {
            display: none;
        }
    }
    &__colors {
        display: flex;       
        margin-bottom: 0.5rem;

        input[type="radio"] {
            display: none;
        }
        label {            
            cursor: pointer; 
            background-clip: content-box;
            display: block;            
            height: 35px;
            width: 35px;
            margin: 2px;
            overflow: hidden;
            padding: 2px;
            position: relative;
            border-radius: 50%;
            border: 2px solid $gray-300;
            transition: all .3s ease-out;

            &[checked], &[checked]:hover  {
                border-color: $gray-900;
            }
            &:hover {
                border-color: $gray-600;
            }

            span {display: none;}

            &.black { background-color: $black; }
            &.athletic-heather { background-color: #c7c7c7; }
            &.banana-cream { background-color: #FDEE9A; }
            &.charcoal { background-color: #313131; }
            &.charcoal-heather { background-color: #1a1414; }
            &.mocha-heather { background-color: #351c12; }
            &.navy { background-color: #061526; }
            &.ocean-blue { background-color: #0084B5; }
            &.ocean-blue-heather { background-color: #3661b5; }
            &.purple { background-color: #5a396e; }
            &.royal { background-color: #002F69; }
            &.silver { background-color: #d0d0c8; }
            &.slate-blue-heather { background-color: #0d2131; }
            &.turquoise { background-color: #04C1d4; }            
            &.white { background-color: $white; }

            &.kelly-green { background-color: #009356; }
            &.red { background-color: #ae000b; }
            &.hot-pink { background-color: #fa2b57; }
            &.pink { background-color: #ebc0d7; }
        }     
    }
}


.woocommerce {
    .shop_table {
        thead, td.actions {
            background-color: $gray-50;
        }
    }
    .cart_item {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .product {

        &-remove {

        }
        &-remove {
            a.remove {
                font-size: 1.5rem;
                color: $gray-800 !important;
                transition: all .3s ease-out;
                background-color: $gray-300;
                border-radius: 3px;
                display: inline;
                margin-top: 2px;
                padding: 5px 15px 5px 10px;
                width: 100%;

                &::after {
                    position: relative;
                    top: -4px;
                    left: 5px;
                    content: 'Remove';
                    font-size: 0.75rem;
                }

                &:active {
                    background-color: $gray-500;
                }
                &:hover {
                    background-color: $gray-400;
                }
            }
        }
        &-thumbnail {

        }
        &-name {
            a {
                text-decoration: none;
                color: $deep-orange-500;
            }
        }
        &-price {

        }
        &-quantity {

        }
        &-subtotal {

        }
    }
    /* Loop link surronds everything */
    &-loop-product__link {
        text-decoration: none;
    }
    /* Thumb Title in loop */
    &-loop-product__title {
        color: $red-900;
    }
    /* CTA Button */
    a.button.alt, a.button{
        color: $deep-orange-50;
        background-color: $deep-orange-500;
    }
    /* Price Link */
    div.product span.price {
        text-decoration: none;
        color: purple-300;
    }
    /* Sale circle */
    span.onsale {
        background-color: $amber-100;
        color: $amber-600;        
    }
}
